@use '../utils/functions' as f;

.card {
  width: 100%;
  background-color: var(--white);
  border-radius: f.rem(20);
  padding: f.rem(18) f.rem(14);
  color: var(--primary-dark-grayish-cyan);
}

.card-container {
  width: f.rem(310);
}
