@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/breakpoints' as b;

.input-element {
  &__label {
    font-weight: 700;
  }
  &--field {
    position: relative;
    width: 100%;
    margin-top: f.rem(12);
  }
  &--selector-tip {
    display: grid;
    position: relative;
    margin-top: f.rem(20);
    grid-template-columns: 1fr 1fr;
    gap: f.rem(17);
    @include b.breakpoint($size: large) {
      grid-template-columns: repeat(3, 1fr);
      gap: f.rem(11);
    }
  }
}

.input-hide {
  display: none;
}

input[type="radio"] {
  width: 0;
  position: fixed;
  opacity: 0;
  &:checked + label {
    @include m.radio-btn-style(var(--very-dark-cyan));
  }
  &:focus + label {
    // Accesability
    @include m.radio-btn-style(var(--very-dark-cyan));
  }
  &:hover + label {
    @include m.radio-btn-style(var(--very-dark-cyan));
  }
}

.input-icon--dollar {
  @include m.input-icon(text);
}

.input-icon--user {
  @include m.input-icon(icon);
}

.input-field--number {
  width: 100%;
  height: f.rem(47);
  padding-left: 44px;
  padding-top: 14px;
  padding-right: 17px;
  padding-bottom: 14px;
  -moz-appearance: textfield;
  border: none;
  text-align: right;
  font-size: var(--form-fsize);
  font-family: var(--space-mono);
  font-weight: 700;
  border-radius: f.rem(5);
  background-color: var(--secondary-light-grayish-cyan);
  color: var(--very-dark-cyan);
  &:focus {
    border: 2px solid var(--strong-cyan);
  }
  &-tip {
    @extend .input-field--number;
    height: f.rem(52);
  }
}

/* Design for no valid fields */
// input:invalid {
//   border-color: #900;
// }

input:focus:invalid {
  border-color: var(--form-error-color);
}

.input-error {
  position: absolute;
  width: 100%;
  top: -#{f.rem(21)};
  right: 0;
  color: var(--form-error-color);
  font-weight: 700;
  font-size: f.rem(14);
  text-align: right;
  &--tips {
    @extend .input-error;
    top: unset;
    bottom: f.rem(44);
  }
}

.input-error.active {
  padding: f.rem(3);
}

.input-error--tips.active {
  padding: f.rem(3);
}
