@use '../utils/functions' as f;

.input-element {
  &__label {
    font-weight: 700;
  }
  &__field {
    position: relative;
    width: 100%;
    margin-top: f.rem(12);
    .input-icon--dollar {
      position: absolute;
      padding: f.rem(5);
      width: f.rem(44);
      height: 100%;
      top: 0;
      left: 0;
      font-size: var(--form-fsize);
      text-align: center;
      color: var(--secondary-dark-grayish-cyan);
    }
    .input-field--number {
      width: 100%;
      height: f.rem(47);
      padding-left: 44px;
      padding-top: 14px;
      padding-right: 17px;
      padding-bottom: 14px;
      -moz-appearance: textfield;
      border: none;
      text-align: right;
      font-size: var(--form-fsize);
      font-family: var(--space-mono);
      font-weight: 700;
      border-radius: f.rem(5);
      background-color: var(--secondary-light-grayish-cyan);
      color: var(--very-dark-cyan);
    }
    .input-field--number:focus {
      border: 2px solid var(--strong-cyan);
    }
  }
}
