@use '../utils/functions' as f;

.form-element {
  padding-top: f.rem(20);
  padding-bottom: f.rem(20);
  &--input-element {
    @extend .form-element;
  }
  &--info-totals {
    @extend .form-element;
    padding: f.rem(24);
    background-color: var(--very-dark-cyan);
    border-radius: f.rem(20);
  }
}
