* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--page-fsize);
  font-family: var(--space-mono);
  color: var(--primary-dark-grayish-cyan);
}

input:focus,
textarea:focus {
  outline: none;
}
